<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/data" method="post">
        <input type="text" name="first" placeholder="1st" required>
        <input type="text" name="second" placeholder="2nd" required>
        <input type="text" name="third" placeholder="3rd" required>
        <input type="text" name="fourth" placeholder="4th" required>
        <input type="text" name="fifth" placeholder="5th" >
        <input type="text" name="sixth" placeholder="6th" >
        <input type="text" name="seventh" placeholder="7th" >
        <input type="text" name="eighth" placeholder="8th" >
        <input type="submit" value="submit">
    </form>
</body>
</html>