<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>

<body>
    <form action="/signup" method="post" enctype="multipart/form-data" multiple>
        <input type="text" placeholder="id" name="username" required>
        <input type="text" placeholder="name" name="name" required>
        <input type="text" placeholder="password" name="password" required>
        <input type="text" placeholder="roll" name="roll" required>
        <input type="text" placeholder="class" name="class" required>
        <input type="text" placeholder="fees" name="fees" required>
        <input type="text" placeholder="Address" name="address" required>
        <input type="text" placeholder="Stream" name="stream" required>
        <input type="text" placeholder="expiry" name="exp" required>
        <input type="text" placeholder="college" name="col" required>
        <br><br>
       <input type="file" name="image1" multiple required>
       <input type="file" name="image2" multiple required>
       
        <input type="submit">
    </form>
</body>

</html>